<p>Hey Coalbiter Friend,</p>

<p>We're so glad that you signed up for some fun with us.</p>

<table style="margin: 0 auto">
  <tr><td><a href="http://coalbiters.org/event/{{slug}}">{{title}}</a></td></tr>
  <tr><td>{{ humanized_date start_datetime}}</td></tr>
  <tr><td>{{location_address}} (<a href="{{location_url}}">map</a>)</td></tr>
</table>

<p>We'll send you another email to remind again closer to the event date,
along with any special instructions.</p>

<p>But for now, you're done! And you did a <b>great</b> job.</p>

<p>
See you soon!<br>
Josh<br>
The Claremont Coalbiters
</p>
