<tr>
  <td style="padding:0;">
    <img src="{{ banner_url }}" alt="{{ banner_alt }}" width="600" style="height:auto;display:block;border: 1px solid #cccccc; padding: 4px 0 0 0; background: #f9f;">
  </td>
</tr>
<tr>
  <td style="padding:0 30px 42px 30px;">
    <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
      <tr>
        <td style="padding:0;">
          <h1 style="font-weight:normal; margin: 24px 0 8px;">{{ title }}</h1>
          <span style="display:block; font-size: 16px; font-weight:bold;">{{ iso_date start_datetime }}<span style="font-size:14px;font-weight:normal;margin-left:0.25rem;">Cost: {{ usd_amount price }}</span></span>
          <p>
            {{ summary }}
          </p>
          <p style="margin: 36px 0 0;">
            <a style="background: #f9f; padding: 10px; color: #000; font-weight: bold; text-decoration: none;" href="https://coalbiters.org/event/{{ slug }}">
              Sign Up
            </a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
