{{#block "style" }}
table {
  margin: 1rem auto;
  line-height: 1.5rem;
}

.event-header {
  padding-right: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-align: center;
}
{{/block }}

<h1>Congratulations!</h1>
<h2>You're signed up for {{event_title}}</h2>

<p>
  We can't wait to see you there.
</p>

<table>
  <tr>
    <td><a href="/events/{{slug}}">{{event_title}}</a></td>
  </tr>
  <tr>
    <td>{{ humanized_date start_datetime}}</td>
  </tr>
  <tr>
    <td>{{location_address}}</td>
  </tr>
</table>

<h2>An Email Your Way Comes</h2>
<!-- <p>We'll send you an email now with the details to put in your calendar.</p> -->

<p>
  <!-- And as a courtesy, --> We will send you an email closer to the event date to remind you about all the fun you signed up for!
</p>
