<p>Hello Coalbiter Friend,</p>

<p>We have an new event coming up that will be a lot of fun. We hope you'll <a href="http://coalbiters.org/events/{{slug}}">join us</a>.</p>

<table style="margin: 0 auto">
  <tr><td><a href="http://coalbiters.org/events/{{slug}}">{{title}}</a></td></tr>
  <tr><td>{{ humanized_date start_datetime}}</td></tr>
  <tr><td>{{location_address}} (<a href="{{location_url}}">map</a>)</td></tr>
</table>

<p>
  You know how it's done. To RSVP, just <a href="http://coalbiters.org/events/{{slug}}">click here</a> and add your email address.
</p>

<p>Yes, of course you can bring a new coalbiter buddy. Please have them RSVP, too.
</p>

<p>
We hope to see you there!<br>
Josh
</p>
